
    <footer class="editContent">
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="index.html" class="editContent">
                                <span class="fa" aria-hidden="true"
                                      style="outline: none; cursor: inherit;">
                                    Что посмотреть?
                                </span>
                        </a>
                    </h2>
                    <p class="editContent" style="outline: none; cursor: inherit;">
                        Рекомендационная система, созданная людьми, которым надоело проводить
                        за поиском фильма больше времени, чем за просмотром.
                    </p>
                    <h4 class="sub-con-fo ad-info my-4 editContent"
                        style="outline: none; cursor: inherit;">Наши контакты</h4>
                    <ul class="w3layouts_social_list media-soc list-unstyled" >
                        <li>
                            <a href="http://t.me/oriiie/" target="_blank" class="w3pvt_telegram editContent"
                               style="outline: none; cursor: inherit;">
                                <i class="fa fa-telegram" aria-hidden="true" style="font-size: 40px;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://t.me/olnkv/" target="_blank" class="w3pvt_telegram editContent"
                               style="outline: none; cursor: inherit;">
                                <i class="fa fa-telegram" aria-hidden="true" style="font-size: 40px;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://t.me/Zahled/" target="_blank" class="w3pvt_telegram editContent"
                               style="outline: none; cursor: inherit;">
                                <i class="fa fa-telegram" aria-hidden="true" style="font-size: 40px;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-right">
                    <div class="w3layouts-newsletter">
                    </div>
                    <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3"
                                style="outline: none; cursor: inherit;">Разделы</h3>
                            <ul class="list-unstyled w3layouts-icons">
                                <li>
                                    <a href="/" class="editContent"
                                       style="outline: none; cursor: inherit;">Главная</a>
                                </li>
                                <li>
                                    <a href="/contact/" class="editContent"
                                       style="outline: none; cursor: inherit;">Контакты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <!-- social icons -->
                            <div class="agileinfo_social_icons">
                                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3"
                                    style="outline: none; cursor: inherit;">Страницы</h3>
                                <ul class="list-unstyled w3layouts-icons">

                                    <li>
                                        <a href="/about/" class="editContent"
                                           style="outline: none; cursor: inherit;">Про нас</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social icons -->
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent"
                                style="outline: none; cursor: inherit;">Контакты</h3>
                            <div class="contact-info">
                                <div class="footer-address-inf my-4">
                                    <h4 class="ad-info mb-2 editContent"
                                        style="outline: none; cursor: inherit;">Email</h4>
                                    <p class="editContent" style="outline: none; cursor: inherit;">
                                        <a href="mailto:info@example.com">orieosu@gmail.com</a></p>
                                </div>
                                <div class="footer-address-inf">
                                    <h4 class="ad-info mb-2 editContent"
                                        style="outline: none; cursor: inherit;">Локация</h4>
                                    <p class="editContent" style="outline: none; cursor: inherit;">
                                        Одесса, Украина</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </footer>

